/* // app/components/cards/cards.module.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

.projectCardsContainer {
    /*border: 2px solid red;*/
    padding: 16px;
    margin: 8px;
    display: flex;            /* Flexbox pour permettre l'étirement */
    flex-direction: column;   /* Aligne les éléments en colonne */
    align-items: center;      /* Centre les éléments horizontalement */
    justify-content: center;  /* Centre les éléments verticalement */
    width: 100%;              /* S'étend sur toute la largeur disponible */
    box-sizing: border-box;   /* Inclut la bordure dans les dimensions de l'élément */
}

.projectCardsContent {
    /*border: 2px solid blue;*/
    padding: 16px;
    margin: 8px;
    display: flex;            /* Flexbox pour permettre l'étirement */
    flex-direction: column;   /* Aligne les éléments en colonne */
    align-items: center;      /* Centre les éléments horizontalement */
    justify-content: center;  /* Centre les éléments verticalement */
    width: 100%;              /* S'étend sur toute la largeur disponible */
    box-sizing: border-box;   /* Inclut la bordure dans les dimensions de l'élément */
}

.projectCardView {
    display: flex;
    flex-direction: row;           /* Aligne les éléments côte à côte (horizontalement) */
    align-items: center;           /* Centre verticalement les éléments dans le conteneur */
    opacity: 0.9;
    width: 100%;                   /* Prend toute la largeur disponible */
    max-width: 1000px;             /* Largeur maximale de 1000px */
    height: 500px;                 /* Hauteur fixe pour maintenir la forme rectangulaire */
    border: 2px solid #383838;
    border-radius: 10px;
    box-sizing: border-box;        /* Inclut les bordures dans les dimensions de l'élément */
    margin: 0 auto;                /* Centre l'élément horizontalement */
    padding: 16px;
    /*margin-left: 1300px;*/
    /*margin-top: -940px;*/
    /*transform: translate(1500px, -1080px);*/

    transition-property: opacity;
    transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
    transition-duration: 3s;
    transition-delay: 0.5s;
    opacity: 0;

    @media (prefers-reduced-motion: no-preference) {
        transition-property: transform, opacity;
        transform: translate3d(800px, 0, 0);
    }

    &[data-visible='true'] {
        transform: none;
        opacity: 1;
    }

    @media (--mediaDesktop) {
        margin: 6rem 0;
        max-width: 920px;
    }

    @media (--mediaLaptop) {
         max-width: 780px;
    }

    @media (--mediaMobile) {
        top: calc(var(--space3XL) * -1);
    }

    @media (--mediaMobileS) {
        top: calc(var(--spaceXL) * -1);
    }

    @media (max-width: 820px) and (max-height: 420px) {
        top: calc(var(--spaceM) * -1);
    }

    &:hover {
        box-shadow: 0 2px 2px 4px oklch(35.55% 0.006 205.48);
        transition: font-size 0.2s ease;
    }
}

.cardImgTop {
    width: 50%;
    height: auto;
    object-fit: cover;
}

.cardBody {
    display: flex;
    flex-direction: column;          /* Garde l'alignement vertical des éléments dans cardBody */
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    flex-grow: 1;                    /* Permet à cardBody de s'étirer si nécessaire */
    width: 60%;                      /* Prend l'autre moitié de la largeur disponible */
}

.cardText {
    padding: 15px 25px;     /* Réduire les espacements horizontaux pour plus d'espace */
    width: 100%;            /* Laisse le texte occuper une plus grande largeur */
    line-height: 1.6;       /* Augmente l'espacement entre les lignes pour une meilleure lisibilité */
    box-sizing: border-box; /* S'assurer que le padding est inclus dans la largeur totale */
    word-wrap: break-word;  /* Permet de couper les mots longs pour éviter le dépassement de ligne */
}

.buttonContainer {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
}

.cardTitle {
    text-align: center;
    font-weight: bold;
    padding-top: 10px;
}

.button {
    display: inline-flex;
    align-items: center;
    padding: 10px 20px;
    text-decoration: none;
    background-color: oklch(65.55% 0.006 205.48);
    color: white;
    border-radius: 5px;
    font-size: 14px;
    transition: background-color 0.3s, transform 0.2s ease;

    svg {
        margin-right: 8px;
        font-size: 1.2rem;
        transition: transform 0.2s ease;
    }

    &:hover {
        background-color: oklch(65.55% 0.006 205.48);
        transform: scale(1.05);
        border-radius: 5px;

        svg {
            transform: scale(1.1);
        }
    }
}
