/* // app/components/cards/cards.module.css */
@tailwind base;
@tailwind components;
@tailwind utilities;


.projectCardView {
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0.9;
    height: 750px;
    width: 500px;
    border: 2px solid #383838;
    border-radius: 10px;
    /*margin-left: 1300px;*/
    /*margin-top: -940px;*/
    transform: translate(1500px, -1080px);

    @media (--mediaDesktop) {
        margin: var(--space2XL) 0;
    }

    @media (--mediaTablet) {
        height: auto;
        margin: var(--space3XL) 0;
    }

    @media (--mediaMobile) {
        padding-bottom: var(--space4XL);
        margin-bottom: 0;
    }

    &[data-first='true'] {
        margin-top: 0;

        @media (--mediaTablet) {
            margin-top: 0;
        }
    }

    &:hover {
        box-shadow: 0 2px 2px 4px oklch(35.55% 0.006 205.48);
        transition: font-size 0.2s ease;
    }
}

.cardImgTop {
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.cardBody {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    flex-grow: 1;
}

.cardText {
    padding: 5px 5px;
}

.buttonContainer {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
}

.cardTitle {
    text-align: center;
    font-weight: bold;
    padding-top: 150px;
}

.button {
    display: inline-flex;
    align-items: center;
    padding: 10px 20px;
    text-decoration: none;
    background-color: oklch(65.55% 0.006 205.48);
    color: white;
    border-radius: 5px;
    font-size: 14px;
    transition: background-color 0.3s, transform 0.2s ease;

    svg {
        margin-right: 8px;
        font-size: 1.2rem;
        transition: transform 0.2s ease;
    }

    &:hover {
        background-color: oklch(65.55% 0.006 205.48);
        transform: scale(1.05);
        border-radius: 5px;

        svg {
            transform: scale(1.1);
        }
    }
}
