/* // app/components/cards/project-card.module.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

.projectCardsContainer {
    /*border: 2px solid red;*/
    padding: 16px;
    margin: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    box-sizing: border-box;

    @media (--mediaDesktop) {
        margin: 0px;
    }
}

.projectCardsContent {
    /*border: 2px solid blue;*/
    padding: 16px;
    margin: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    box-sizing: border-box;

    @media (--mediaDesktop) {
        margin: -100px;
    }
}

.projectCardView {
    display: flex;
    flex-direction: row;
    align-items: center;
    opacity: 0.9;
    width: 100%;
    max-width: 1200px;
    height: auto;
    border: 2px solid #383838;
    border-radius: 10px;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 16px;

    transition-property: opacity, transform, box-shadow;
    transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
    transition-duration: 3s;
    transition-delay: 0.5s;
    opacity: 0;

    @media (prefers-reduced-motion: no-preference) {
        transition-property: transform, opacity;
        transform: translate3d(800px, 0, 0);
    }

    &[data-visible='true'] {
        transform: none;
        opacity: 1;
    }

    @media (--mediaDesktop) {
        margin: 6rem 0;
        max-width: 920px;
        flex-direction: column;
        align-items: stretch;
    }

    @media (--mediaLaptop) {
        max-width: 780px;
    }

    @media (--mediaMobile) {
        top: calc(var(--space3XL) * -1);
    }

    @media (--mediaMobileS) {
        top: calc(var(--spaceXL) * -1);
    }

    @media (max-width: 820px) and (max-height: 420px) {
        top: calc(var(--spaceM) * -1);
    }

    @media (--mediaDesktop),
            (--mediaLaptop),
            (--mediaMobile),
            (--mediaMobileS),
            (max-width: 820px) and (max-height: 420px) {
        &:hover {
            transform: scale(1.15) !important;
        }
    }

    &:hover {
        /*box-shadow: 0 4px 12px oklch(35.55% 0.006 205.48);*/
        /*box-shadow: 2px 2px 5px oklch(35.55% 0.000 200.28), -2px -2px 5px oklch(35.55% 0.006 205.48);*/
        /*box-shadow: 0 6px 15px oklch(35.55% 0.006 205.48);*/
        box-shadow: 0 0 10px oklch(35.55% 0.006 205.48);
        transform: scale(1.55);
        transition-duration: 0.8s;
    }
}

.projectCardView:hover {
    &:nth-child(2) {
        transform: translateY(-10px);
    }

    &:nth-child(3) {
        border-color: oklch(55% 0.05 130);
        box-shadow: 0 4px 20px oklch(55% 0.05 130);
    }

    &:nth-child(4) {
        animation: pulseShadow 1.5s infinite;
    }
}

@keyframes pulseShadow {

    0%,
    100% {
        box-shadow: 0 0 10px oklch(35.55% 0.006 205.48);
    }

    50% {
        box-shadow: 0 0 25px oklch(35.55% 0.02 205.48);
    }
}

.cardImgTop {
    border-radius: 10px;
    object-fit: contain;
    width: 100%;
    max-width: 100%;
    max-height: 100%;
    overflow: hidden;
}

.cardImgTop svg {
    width: 100%;
    height: auto;
}

.cardBody {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
    flex-grow: 1;
    /*width: 100%;*/
    margin: 0px 25px 0px 25px;
}

.cardText {
    padding: 35px 0px;
    width: 100%;
    line-height: 1.6;
    box-sizing: border-box;
    word-wrap: break-word;
    opacity: 0;
    animation: fadeIn 0.8s ease-in-out forwards;
}

.svgBadgeContainer {
    display: flex;
    width: 100%;
    height: 20px;
    gap: 10px;
    margin: 20px 0;
    justify-content: center;
    opacity: 0;
    animation: fadeInRight 1.8s ease-in-out forwards;
}

.buttonContainer {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
    opacity: 0;
    animation: fadeIn 0.8s ease-in-out forwards;
}

.cardTitle {
    text-align: center;
    font-weight: bold;
    padding-top: 10px;
    white-space: nowrap;
    /*overflow: hidden;*/
    /*text-overflow: ellipsis;*/
    margin-inline: 300px;
}

.button {
    display: inline-flex;
    align-items: center;
    padding: 10px 20px;
    text-decoration: none;
    background-color: oklch(65.55% 0.006 205.48);
    color: white;
    border-radius: 5px;
    font-size: 14px;
    transition: background-color 0.3s, transform 0.2s ease;

    svg {
        margin-right: 8px;
    }

    &:hover {
        background-color: oklch(65.55% 0.006 205.48);
        transform: scale(1.05);
        border-radius: 5px;

        svg {
            transform: scale(1.1);
        }
    }
}

.hidden {
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.cardText,
.buttonContainer,
.svgBadgeContainer {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.3s ease;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(50px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeInRight {
    from {
        opacity: 0;
        transform: translateX(500px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}