/* // app/components/skills/particles.module.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

.skillsBackground {
    position: absolute;
    top: 0;
    left: 150px;
    width: 100%;
    height: 100%;
    z-index: -1;

    opacity: 0;
    transition: opacity 1.5s ease-out, transform 1.5s ease-out;
    transform: translateY(20px);

    &[data-visible='true'] {
        opacity: 1;
        transform: translateY(0);
    }
}

@media (max-width: 696px), (max-height: 696px) {
    .skillsBackground {
        display: flex;
        left: 30px;
        top: 600px;
        height: 90%;
        width: 90%;

        &[data-visible='true'] {
            opacity: 1;
            transform: translateY(0);
        }
    }
}
